<h1>Регистрация</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="width: 30%">
    <%= f.label :Имя %><br />
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group" style="width: 30%">
    <%= f.label :Фамилия %><br />
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group" style="width: 30%">
    <%= f.label :email %><br />
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group" style="width: 30%">
    <%= f.label :Пароль %><br />
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group" style="width: 30%">
    <%= f.label :Подтвертиде_пароль %><br />
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <div class="actions"><%= f.submit "Готово", class: 'btn btn-primary' %></div>

<% end %>