<h1>Регистрация</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Имя %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :Фамилия %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Пароль %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :Подтвертиде_пароль %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "Готово"%></div>

<% end %>