<!DOCTYPE html>
<html>
<head>
  <title>Petitions RubyBursa</title>
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div id="container">
      <div id="user_header" class="navbar navbar-default navbar-static-top">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Главная страница петиций</a>
          <div class="pull-right" style="margin: 10px">
          <span >
          <% if current_user %>
            Вы авторизованы как <%= current_user.first_name + ' ' + current_user.last_name %>
                (<%= link_to "Выйти", logout_path %>)
          <% else %>
            <%= link_to "Зарегистироваться", signup_path %> |
                <%= link_to "Войти", login_path %>
          <% end %>

          </span>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <%= flash_messages %>
            <%= yield %>
          </div>
          <div class="col-lg-3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list la">
                <li><h4><%= link_to "Все петиции", petitions_path %></h4></li>
                <li><h4><%= link_to "Создание петиции", petitions_create_path  %></h4></li>
                <% if current_user %>
                    <li><h4><%= link_to "Мои петиции", my_petitions_path %></h4></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>




